
@{
    ViewBag.Title = "Addcrop";
}
<div class="loader"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
    $(".btn").click(function () {
        $(".loader").fadeOut("slow");
    });
</script>
<div ng-controller="AddCropController" ng-app="AddCrop" data-ng-init="init()">
    <form name="cp" novalidate>
        <div class="container col-md-7 offset-md-3">
            <div class="shadow p-4 mb-4 bg-white">
                <div class="card card-primary border-primary">
                    <div class="card-header bg-primary text-white"> Add Crop</div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="alert alert-success alert-dismissible" ng-show="msk.add == true">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Your Item Type Added Successfully ... !</strong>
                            </div>
                            <div class="alert alert-danger alert-dismissible" ng-show="msk.fail == true">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Your  Item Type Not Added  ! Plase Trial Agin...</strong>
                            </div>
                        </div>
                        <div class="form-group row" style="margin-left:10px;">
                            <div ng-repeat="user in Itypes" style="margin-right:10px;">
                                <input type="radio" name="ItypeId" ng-checked="user.ItypeId==1" data-ng-model="$parent.ItemMasert.ItypeId" required data-ng-value="user.ItypeId"
                                       ng-init="$index==0?($parent.ItemMasert.ItypeId=user.ItypeId):''" /> {{user.type}}
                            </div>


                        </div>
                        <div class="form-group">
                            <label for="Address">Name:</label>
                            <input type="text" ng-model="AddCrop.cpname" name="cpname" class="form-control" required pattern="^[A-Z]{1}[a-z ]{0,20}$" placeholder="Item Name" ng-change="CropCheck()">
                            <span ng-show="cp.cpname.$dirty && cp.cpname.$error.pattern" class="text-danger">First letter should be capital...Only 20 characters are allowed...No special characters allowed</span>
                            <span ng-show="typeIm=='suc'" class="text-danger">Crop Name / Item Name is Alredy exit try other Name !</span>


                        </div>


                        <div class="form-group">
                            <button type="submit" ng-disabled="cp.$invalid || typeIm=='suc'" ng-click="AddCrrop(AddCrop)" class="btn btn-primary">
                                <span ng-show="spin.kk==true">
                                    <i class="fa fa-check fa-spinner fa-spin"></i>
                                </span>
                                <i class="far fa-check-circle"></i> {{btn}}
                            </button>
                            <button type="submit" class="btn btn-danger" ng-click="AddCrop=null"><i class="far fa-times-circle"></i> Cancel</button>


                        </div>

                        <table class="table table-striped table-responsive-md" style="width:100%">
                            <thead class="bg-warning">
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th></th>
                                    <th></th>


                                </tr>

                            </thead>

                            <tbody>
                                <tr ng-repeat="Item in GetCrop" ng-show="ItemMasert.ItypeId==2 && Item.ItypeId==2 ">
                                    <input type="hidden" value="{{Item.cpid}}" />
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{Item.cpname}}</td>

                                    <td>

                                        <button type="submit" ng-click="getCrop(Item)" class="btn btn-primary">
                                            <i class="far fa-edit"></i>

                                        </button>
                                    </td>
                                    <td>


                                        <button type="button" ng-click="deletteCrop(Item)" class="btn btn-danger">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>





                                    </td>
                                </tr>
                                <tr ng-repeat="Item in GetCrop" ng-show="ItemMasert.ItypeId==1 && Item.ItypeId==1 ">
                                    <input type="hidden" value="{{Item.cpid}}" />
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{Item.cpname}}</td>

                                    <td>

                                        <button type="submit" ng-click="getCrop(Item)" class="btn btn-primary">
                                            <i class="far fa-edit"></i>

                                        </button>
                                    </td>
                                    <td>


                                        <button type="button" ng-click="deletteCrop(Item)" class="btn btn-danger">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>





                                    </td>
                                </tr>
<tbody>
                        </table>



                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


