
@{
    ViewBag.Title = "Index";
}



    <div class="row text-center"  style="margin-top: 5px;background: url('../../coursor/aa.jpg');height:500px;align-items:center;width:100% auto" id="Home">
        <div class="container"> <h2 class="text-light">Co-Operative Farming</h2></div>
      
    </div>

       
        <div class="row " style="margin-top:10px;">
           
            <div class=" col-md-6" align="center">
                <img src="~/img/crops.png" class="img-thumbnail rounded-circle" alt="Cinque Terre" height="200px" width="200px">
                <h2>Agriculture Input</h2>
                <p>Farmer can sell and purchase product through Secretary like seed,fertilizer </p>
            </div>
            <div class="col-md-6" align="center">
                <img src="~/img/cp.png" class="img-thumbnail rounded-circle" alt="Cinque Terre" height="200px" width="200px">
                <h2>Crop advisory</h2>
                <p>Company can sell and purchase product it self like seed, fertilizer And Agro Chemical </p>
            </div>
        </div>

        <div class="row" id="About" style="margin-top:10px;">
         

            <div class="col-md-6 img-thumbnail " style="align-items:center;" align="center">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3685.2123085895114!2d72.96791371443335!3d22.533718340076653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e4c3faaaaaaab%3A0xcf7918e63be0d79c!2sCollege%20of%20Agricultural%20Information%20Technology!5e0!3m2!1sen!2sin!4v1571509304669!5m2!1sen!2sin"
                        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>


            </div>
            <div class="img col-md-6 ">
                <img src="~/img/ait_2_80.png" class="img-responsive img-thumbnail float-md-right"><br>


                <div class="img justify-content-center" align="center" >
                    @*<img src="~/img/ait.png" class="img-responsive"><br>*@
                    <p class="text-center"  style="margin-top:50px;">
                        <b>
                            <i class="fa fa-address-book fa-lg"></i> :
                        </b>
                        <u><a href="http://www.aau.in/college-menu/703" target="_blank"><b>College of Agricultural Information Technology,<br></b></a></u>
                        <b>
                            Anand Agricultural University,
                            Anand : 388110.
                            Gujarat (INDIA) .
                        </b><br>
                        <b>	 <i class="fa fa-phone fa-lg"></i> </b>
                        <b>(Office) +91-2692-263123,+91-2692-263124</b><br>
                        <b> <i class="fa fa-envelope fa-lg"></i> :</b><b>dit@aau.in</b><br>
                        </p>

</div>
            </div>

        </div>
